<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="FacundoUndiano" content="width=device-width, initial-scale=1.0">
  <!--Link de la fuente roboto-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  <!--Link que enlaza los iconos ingresados al documento-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <title>Mercado Liebre</title>
  <!--Link que enlaza HTML y CSS-->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="background-header">
    <header>
      <div class="logo">
        <img src="/img/logo-mercado-liebre.svg" alt="Logo" width="800" height="500">
      </div>
      <div class="buscar">
        <input type="text" placeholder="buscar" required>
        <i class="fas fa-search"></i>
      </div>
      <br>
      <div>
        <h3> <div>
          <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        </h3>
      </div>
      <nav class="navbar">
        <ul type="Circle">
          <li><a href="ofertas">Ofertas</a></li>
          <li><a href="tiendas-virtuales">Tiendas Virtuales</a></li>
          <li><a href="vender">Vender</a></li>
          <li><a href="ayuda" class="font12">Ayuda</a></li>
        </ul>
        <ul type="Circle">
          <li><a href="crea-tu-cuenta">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
          <li><a href="ingresa">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href="mis-compras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
      </nav>
      <div class="burger-menu">
        <!--Imagen de menu hamburguesa-->
        <i class="fas fa-bars" alt="imagen de hamburguesa"></i>
      </div>
    </header>
  </div>

  <div>
     <div class="banner">
      <img src="/img/img-home-banner.jpg" alt="banner" width="1400" height="400">
    </div>
    <main class="main-section">
      <hr>
        <div>
          <h1>
            Productos
          </h1>
        </div>
        <div>
          <section>
            <h2 class='headlines'>
              Basado en tu ultima visita
            </h2>

              <article class="product">
                  <img class="photo-product" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
                  <div><i class="fas fa-truck" alt="imagen del camion"></i></div>
                  <div class="main-article">
                    <p class="price">
                      $6770
                    </p>
                    <p class="discounts">
                      40$ off
                    </p>
                    <h4 class="descriptions">Cafetera Moulinex</h4>
                  </div>
              </article>

              <article class="product">
                <img class="photo-product" src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
                <div><i class="fas fa-truck" alt="imagen del camion"></i></div>
                <div class="main-article">
                  <p class="price">
                    $230000
                  </p>
                  <p class="discounts">
                    20% off
                  </p>
                  <h4 class="descriptions">MacBook Pro 2019</h4>
                </div>
              </article>

              <article class="product">
                <img class="photo-product" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung S10">
                <div><i class="fas fa-truck" alt="imagen del camion"></i></div>
                <div class="main-article">
                  <p class="price">
                    $70500
                  </p>
                  <p class="discounts">
                    10% off
                  </p>
                  <h4 class="descriptions">Samsung Galaxy S10</h4>
                </div>
              </article>

              <article class="product">
                <img class="photo-product" src="/img/img-tv-samsung-smart.jpg" alt="SmartTv">
                <div><i class="fas fa-truck" alt="imagen del camion"></i></div>
                <div class="main-article">
                  <p class="price">
                    $23200
                  </p>
                  <p class="discounts">
                    5% off
                  </p>
                  <h4 class="descriptions">SmartTv Samsung 43"</h4>
                </div>
              </article>

            </section>
          </div>
          <div>
            <section>
              <h2 class='headlines'>
                Seccion de ofertas
              </h2>

                <article class="product">
                   <img class="photo-product" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
                   <div><i class="fas fa-truck" alt="imagen del camion"></i></div>
                   <div class="main-article">
                     <p class="price">
                       $6770
                     </p>
                     <p class="discounts">
                       40% off
                     </p>
                     <h4 class="descriptions">Cafetera Moulinex</h4>
                   </div>
                </article>

                <article class="product">
                   <img class="photo-product" src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
                   <div><i class="fas fa-truck" alt="imagen del camion"></i></div>
                   <div class="main-article">
                     <p class="price">
                       $230000
                     </p>
                     <p class="discounts">
                       20% off
                     </p>
                     <h4 class="descriptions">MacBook Pro 2019</h4>
                   </div>
                </article>

                <article class="product">
                   <img class="photo-product" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung S10">
                   <div><i class="fas fa-truck" alt="imagen del camion"></i></div>
                   <div class="main-article">
                     <p class="price">
                       $70500
                     </p>
                     <p class="discounts">
                       10% off
                     </p>
                     <h4 class="descriptions">Samsung Galaxy S10</h4>
                   </div>
                </article>

                <article class="product">
                   <img class="photo-product" src="/img/img-tv-samsung-smart.jpg" alt="SmartTv">
                   <div><i class="fas fa-truck" alt="imagen del camion"></i></div>
                   <div class="main-article">
                     <p class="price">
                       $23200
                     </p>
                     <p class="discounts">
                       5% off
                     </p>
                     <h4 class="descriptions">SmartTv Samsung 43"</h4>
                   </div>
                </article>

          </section>
        </div>
    </main>
    
  </div>
    <footer>
      <div>
        <section>
          <div class="icon"><i class="fas fa-credit-card"></i></div>
            <article>
              <h3 class="descriptions">
                Paga con tarjeta o en efectivo
              </h3>
              <p>
                Con MercadoLibreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!
              </p>
            </article>
        </section>
      </div>
      <div>
        <section>
            <div class="icon"><i class="fas fa-gift"></i></i></div>
              <article>
                <h3 class="descriptions">
                  Envio gratis desde los $2500
                </h3>
                <p>
                  Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de
                  Mercado Puntos.
                </p>
              </article>
        </section>
      </div>
      <div>
        <section>
          <div class="icon"><i class="fas fa-user-shield"></i></div>
            <article>
              <h3 class="descriptions">
                Seguridad de principio a fin
              </h3>
              <p>
                No te gusta? Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@
              </p>
          </article>
        </section>
      </div>
      <div>
        <section>
          <article>
            <p>
              Copyright 1999-2020 MercadoLibre S.R.L.
            </p>
          </article>
        </section>
      </div>
    </footer>
  </body>
</html>